/* ================================================================ */
/* HTML tag */
html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------- */
/* Sign-in page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin: 0px;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url("/static-files/sign-in/images/bg-image-4-portrait.png");
  background-size: cover;
  background-position-y: center;
}

/* ================================================================ */

/* <!-- Site header --> */
header.site {
  /* border: 1px solid #cccccc; */
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin: 5px; */
  width: 100%;
  max-width: 1450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #191d4e; */
  color: rgb(255, 255, 255);
  /* justify-content: center; */
}
/* <!-- Logo --> */
header.site span.logo {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
}

/* <!-- Tagline --> */
header.site span.tag-line {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
}

button#sign-in {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
}

/* <!-- A Sign-out button at the top-right --> */
button#sign-out {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  margin-left: auto;
}

/* -------------------------------------------------------- */
/* <!-- Main content --> */
main {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  /* margin: 5px; */
  /* margin: 5px; */
  width: 100%;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------------------------------------------------- */
/* <!-- Page Header --> */
header.page {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  margin: 5px;
  width: 100%;
  color: #ffffff;
}

/* <!-- Headline --> */
header.page article.headline {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 170px;
  color: #ffffff;
  /* width: 300px; */
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

/* <!-- Headline items --> */
header.page article.headline p.headline-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

header.page article.headline p.active {
  opacity: 1;
}

/* -------------------------------------------------------- */
/* <!-- Brand section  --> */
section.brand {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  /* margin: 5px; */
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
    url("/static-files/sign-in/images/AI-concert-india.png");
  background-size: cover;
  background-position-y: center;
  width: 100%;
}

/* <!-- CTA Sign-up form article --> */
article.sign-up {
  padding: 25px;
  background-color: rgba(73, 56, 65, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4.5px);
  border: 1px solid #ede4d9;
  max-width: 290px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

form.sign-up {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* <!-- text box for new username --> */
form.sign-up input#new-username {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- text box for new password  --> */
form.sign-up input#new-password {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- text box for confirm new password  --> */
form.sign-up input#confirm-password {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- Button for Submit & Login --> */
form.sign-up button#submit-and-login {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  /* margin: 5px; */
  width: 50%;
  background-color: rgb(30, 37, 110, 0.9);
  color: rgb(224, 216, 216);
}

/* <!-- Login button --> */
a.link-to-signin {
  padding: 10px;
  /* margin: 5px; */
  width: 50%;
  /* background-color: rgb(30, 37, 110, 0.9); */
  color: rgb(224, 216, 216);
}

button#sign-in {
  width: 100%;
  background-color: rgb(30, 37, 110, 0.9);
  color: rgb(224, 216, 216);
}

/* <!-- Buttons section  --> */
section#buttons-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

/* <!-- Sign-up Button --> */

/* <!-- Sign in with Gmail --> */
div.g_id_signin {
  margin-top: 15px;
  min-width: 200px;
  max-width: 250px;
}
/* -------------------------------------------------------- */
/* <!-- Label + select city drop-down--> */
section#select-city {
  /* border: 1px solid #cccccc; */
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* <!-- Label --> */
section#select-city span.label {
  /* padding: 10px; */
  margin: 5px;
}

/* <!-- Select city dropdown --> */
section#select-city select#city-selector {
  /* padding: 3px; */
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  /* margin: 2px; */
}
/* --------------------- */
/* <!-- Social proof banner --> */
section.social-proof-banner {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

/* <!-- short sentences --> */
section.social-proof-banner span {
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- Trending Preview --> */
section.trending-preview {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  color: rgb(224, 215, 215);
  height: 70vh;
  overflow: auto;
}

/* <!-- Event card 1 --> */
article.event-card {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  text-align: center;
  background-color: rgba(73, 56, 65, 0.5);
  backdrop-filter: blur(4.5px);
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(0, 0, 0);
  backdrop-filter: blur(4.5px);
}

/* <!-- Card Image  --> */
article.event-card img {
  width: 100%;
}
/* -------------------------------------------------------- */
/* <!-- View All CTA --> */
button#view-all-button {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- AI demo -->
<!-- Input text box --> */
input#ask-ai {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: block;
  width: 95%;
}

/* -------------------------------------------------------- */
/* <!-- ----------------------------------------------------------------- --> */
/* <!-- Form for capturing User input --> */
form#user-inputs {
  /* border: 1px solid #cccccc; */
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 250px;
}

form#user-inputs input {
  /* height: 30px; */
  /* border: 1px solid #cccccc; */
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Sign-in button --> */
form#user-inputs button#sign-in-button {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 70%;
}

/* ------------------------------------------------------------ */
/* <!-- Buttons section --> */
section#button-section {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- Register New user button with re-route to sign-up page--> */
section#button-section form button#register-new-user {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* --------------------------------------------------------------- */
/* <!-- Sign-up benefits --> */
section.signup-benefits {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(184, 175, 175);
}

/* <!-- Header --> */
section.signup-benefits header {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Benefit Card --> */
section.signup-benefits article.benefit-card {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* ------------------------------------- */

/* <!-- CTA for sign-up --> */
/* <!-- Sign-up button --> */
button.cta-sign-up {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* --------------------------------------------------------------- */

/* Define a class called hidden */
.hidden {
  display: none !important;
}

/* -------------------------------------------------------------- */
