/* ================================================================ */
/* HTML tag */
html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------- */
/* Sign-in page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin: 0px;
}

/* ================================================================ */

/* <!-- Site header --> */
header.site {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
/* <!-- Logo --> */
header.site span.logo {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- Tagline --> */
header.site span.tag-line {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- A Sign-in button at the top-right --> */
a.link-to-signin {
  margin-left: auto;
}

button#sign-in {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- A Sign-out button at the top-right --> */
button#sign-out {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  margin-left: auto;
}

/* -------------------------------------------------------- */
/* <!-- Main content --> */
main {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  margin: 5px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------------------------------------------------- */
/* <!-- Page Header --> */
header.page {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Headline --> */
header.page article.headline {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 95%;
  text-align: center;
  position: relative;
  height: 50px;
  /* width: 300px; */
}

/* <!-- Headline items --> */
header.page article.headline p.headline-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

header.page article.headline p.active {
  opacity: 1;
}

/* -------------------------------------------------------- */
/* <!-- Brand section  --> */
section.brand {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- CTA Sign-up form article --> */
form.sign-up {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- text box for new username --> */
form.sign-up input#new-username {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- text box for new password  --> */
form.sign-up input#new-password {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- text box for confirm new password  --> */
form.sign-up input#confirm-password {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- Button for Submit & Login --> */
form.sign-up button#submit-and-login {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- Label + select city drop-down--> */
section#select-city {
  border: 1px solid #cccccc;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* <!-- Label --> */
section#select-city span.label {
  /* padding: 10px; */
  margin: 5px;
}

/* <!-- Select city dropdown --> */
section#select-city select#city-selector {
  /* padding: 3px; */
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  /* margin: 2px; */
}
/* --------------------- */
/* <!-- Social proof banner --> */
section.social-proof-banner {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

/* <!-- short sentences --> */
section.social-proof-banner span {
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- Trending Preview --> */
section.trending-preview {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

/* <!-- Title for event listings --> */
h2 {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 90%;
  text-align: center;
}

/* <!-- Event card 1 --> */
article.event-card {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 90%;
  text-align: center;
}
/* -------------------------------------------------------- */
/* <!-- View All CTA --> */
button#view-all-button {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- AI demo -->
<!-- Input text box --> */
input#ask-ai {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: block;
  width: 95%;
}
/* -------------------------------------------------------- */
/* <!-- Sign in with Gmail --> */
div#g_id_onload {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: none;
}

div#g_id_signin {
  /* border: 1px solid #22235d; */
  padding: 10px;
  margin: 5px;
  width: 80%;
}

article.sign-in-google {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  width: 40%;
}
/* -------------------------------------------------------- */
/* <!-- ----------------------------------------------------------------- --> */
/* <!-- Form for capturing User input --> */
form#user-inputs {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

form#user-inputs input {
  height: 30px;
}

/* <!-- Sign-in button --> */
form#user-inputs button#sign-in-button {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* ------------------------------------------------------------ */
/* <!-- Buttons section --> */
section#button-section {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- Register New user button with re-route to sign-up page--> */
section#button-section form button#register-new-user {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* --------------------------------------------------------------- */
/* <!-- Sign-up benefits --> */
section.signup-benefits {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-- Header --> */
section.signup-benefits header {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Benefit Card --> */
section.signup-benefits article.benefit-card {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* ------------------------------------- */

/* <!-- CTA for sign-up --> */
/* <!-- Sign-up button --> */
button.cta-sign-up {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* --------------------------------------------------------------- */

/* Define a class called hidden */
.hidden {
  display: none;
}

/* -------------------------------------------------------------- */
