/* ================================================================ */
/* Sign-in page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: solid;
  padding-bottom: 30px;
}

/* ================================================================ */
/* Page Title */
h1 {
  /* text-align: center; */
  /* border: solid; */
  line-height: 100px;
}

/* ---------------------------------------------------------------- */
/* Sign in with Gmail */
/* container */
article#login-with-gmail-button {
  margin: 0;
  border: solid;
  display: flex;
  align-items: center;
  /* justify-items: end; */
  align-content: space-around;
  width: 320px;
}

/* Google icon */
article#login-with-gmail-button img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

/* text label */
article#login-with-gmail-button p {
  /* border: solid; */
  margin-left: 10px;
  margin-right: 10px;
}

/* ---------------------------------------------------------------- */
/* <!-- Enter Email box --> */
/* Form */
article#enter-email form {
  display: flex;
  flex-direction: column;
}

/* Text box */
article#enter-email form input {
  height: 30px;
}
/* Container */
article#enter-email {
  border: solid;
  width: 300px;
  height: 50px;
  margin-top: 15px;
  padding: 10px;
}

/* ---------------------------------------------------------------- */
/* <!-- Enter Password box --> */
/* Form */
article#password form {
  display: flex;
  flex-direction: column;
}

/* Text box */
article#password form input {
  height: 30px;
}

/* Container */
article#password {
  border: solid;
  width: 300px;
  height: 50px;
  margin-top: 15px;
  padding: 10px;
}

/* ---------------------------------------------------------------- */
/* <!-- Buttons section --> */
/* Container */
article#button-section {
  margin-top: 20px;
  display: flex;
  border: solid;
}

/* buttons */
article#button-section button {
  padding: 10px;
  margin: 2px;
}

/* ---------------------------------------------------------------- */
