/* ================================================================ */
/* HTML tag */
html {
  scroll-behavior: smooth;
}
/* ---------------------------------------------------------------- */
/* Sign-in page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background: black;
  /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(58, 57, 57)); */
  /* url("/static-files/sign-in/images/bg-image-4-portrait.png"); */
  /* background-size: cover; */
  /* background-position-y: center; */
}

/* ================================================================ */

/* <!-- Site header --> */
header.site {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
}

header.site span.logo img {
  width: 60px;
  border: 1.5px #ffffff;
  margin: 5px;
  border-radius: 40%;
}

/* <!-- Tagline --> */
header.site span.tag-line {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
}

button#sign-in {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
}

/* <!-- A Sign-out button at the top-right --> */
button#sign-out {
  padding: 10px;
  margin: 5px;
  background: linear-gradient(to right, rgb(12, 12, 12), rgb(169, 168, 169));
  color: white;
  outline: none;
  border: 1px solid;
}

/* <!-- Right aligned container. --> */
.site-header-right-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* -------------------------------------------------------- */
/* <!-- Main content --> */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px; */
}
/* -------------------------------------------------------- */
/* <!-- Page Header --> */
header.page {
  width: 100%;
  color: #ffffff;
}
/* <!-- Area selector outer section --> */
.select-area-outer-section {
  display: flex;
  flex-direction: row;
  width: 95%;
}

/* <!-- Map location icon  --> */
.map-location-icon {
  height: 40px;
}

/* <!-- Area selector drop-down section  --> */
.area-selector-section {
  display: flex;
  flex-direction: column;
  /* width: 95%; */
}

/* <!-- Select Area --> */
.select-area-drop-down {
  padding: 3px;
  margin-bottom: 2px;
  font:
    1rem "Fira Sans",
    serif;
  background-color: none;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  background-color: transparent;
  color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFtsZlXX4D2jCImf_qiTfwcQL7O7gZi6T0MQ&s");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: right 12px;
  background-position-y: top 7px;
}

/* <!-- City and Country display  --> */
.city-country-display {
  font:
    0.8rem "Fira Sans",
    serif;
}

/* <!-- Search box --> */
.search-bar {
  padding: 5px;
  width: 225px;
  height: 30px;
  font:
    italic 1.2rem "Fira Sans",
    serif;
  border: none;
}

.search-bar:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* <!-- Search icon image  --> */
.search-icon-image {
  width: 25px;
  margin: 3px;
  aspect-ratio: 1 / 1;
  /* border: 1px solid black; */
}

/* <!-- Search box section --> */
.search-bar-section {
  margin-top: 20px;
  margin: 30px 10px;
  background-color: white;
  border-radius: 20px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* width: 345px; */
  width: 95%;
  align-self: center;
}

@media (width > 400px) {
  .search-bar-section {
    margin-top: 20px;
    margin: 30px 10px;
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* width: 345px; */
    width: 350px;
    align-self: center;
  }
}

/* <!-- adjustment icon image  --> */
.adjustment-icon-image {
  width: 35px;
  aspect-ratio: 1 / 1;
  /* border: 1px solid black; */
}

@media (width < 480px) {
  /* <!-- Display all the relevant artists and events. --> */
  .display-artists-and-events {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-direction: column; */
    font:
      1.2rem "Fira Sans",
      serif;
    color: white;
    width: 100%;
    /* padding: 15px; */
    /* margin-left: 10px; */
  }
}

@media (width > 480px) {
  /* <!-- Display all the relevant artists and events. --> */
  .display-artists-and-events {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* flex-direction: column; */
    width: 100%;
    font:
      1.2rem "Fira Sans",
      serif;
    color: white;
  }
}

/* <!-- Main title --> */
.main-title {
  /* text-decoration: dotted underline rgb(255, 255, 255) 4px; */
  margin-left: 15px;
}

/* <!-- Duration selector  -->  */
.duration-selector {
  background-color: none;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  background-color: transparent;
  color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFtsZlXX4D2jCImf_qiTfwcQL7O7gZi6T0MQ&s");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: right -4px;
  background-position-y: top 6px;
  font:
    1.2rem "Fira Sans",
    serif;
}

@media (width < 480px) {
  /* <!-- Show list of categories --> */
  .display-event-categories-section {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5px;
    /* max-width: 350px; */
    max-height: 200px;
    max-width: 95%;
  }
}

@media (width > 480px) {
  /* <!-- Show list of categories --> */
  .display-event-categories-section {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 5px;
    /* max-width: 350px; */
    max-height: 200px;
    max-width: 95%;
  }
}

/* @media (width > 350px) {
  .display-event-categories-section {
    width: 600px;
  }
} */

/* <!-- Category card --> */
.category-card {
  width: 100px;
  border: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

/* <!-- Category Image --> */
.category-image {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: #cccccc;
}

/* <!-- Category name --> */
.category-name {
  font-size: 12px;
}

/* Design for smaller screens */
@media (width < 480px) {
  /* <!-- Header for featured events section  --> */
  .header-featured-events-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 150px;
  }
}

/* Design for bigger screens */
@media (width > 480px) {
  /* <!-- Header for featured events section  --> */
  .header-featured-events-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 600px;
  }
}

/* <!-- Featured events section  --> */
.featured-events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.view-all-link {
  font-size: small;
  margin-left: auto;
}

/* Designed for mobile viewports */
/* @media (width < 480px) { */
/* <!-- Featured events section  --> */
.event-cards-section-featured-events {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: auto;
  max-width: 95%;
  max-height: 450px;
}
/* } */

/* Designed for laptops/desktop viewports */
/* @media (width > 480px) { */
/* <!-- Featured events section  --> */
/* .event-cards-section-featured-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    width: 95%;
    max-height: 420px;
  } */
/* } */

/* <!-- Event card  --> */
.event-card {
  width: 200px;
  height: 300px;
  flex-shrink: 0;
  /* border: 1px solid rgb(251, 249, 249); */
  /* background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHgxMTY5NTQwLWltYWdlLWpvYjYzMC1hLWwwZzA2OGd0LmpwZw.jpg"); */
  /* border-radius: 20px; */
}

/* <!-- Event card icons section  --> */
.event-card-icons-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* align-items: end; */
  background-color: black;
  padding: 5px;
  border-top-right-radius: 10px;
}

/* <!-- Event card image  --> */
/* .event-card {
  border-radius: 20px;
  width: 80%;
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
/* border: #cccccc; */
/* } */

/* <!-- Event card image  --> */
.card-image {
  border-radius: 20px;
  width: 90%;
  height: 60%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHgxMTY5NTQwLWltYWdlLWpvYjYzMC1hLWwwZzA2OGd0LmpwZw.jpg");
}

.card-heart-icon {
  width: 50px;
}

.card-share-icon {
  width: 30px;
  /* aspect-ratio: 1 / 1; */
}

.event-title {
  font-size: 15px;
  width: 80%;
}

.event-date-time {
  font-size: 12px;
  width: 80%;
  color: #5a5757;
}

.event-address {
  font-size: 12px;
  width: 80%;
  color: #5a5757;
}

/* ----------------------------------------------------- */
/* Design for smaller screens */
@media (width < 480px) {
  /* <!-- Header for featured events section  --> */
  .header-artists-near-you {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 130px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Design for bigger screens */
@media (width > 480px) {
  /* <!-- Header for featured events section  --> */
  .header-artists-near-you {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 600px;
  }
}

/* ----------------------------------------------------------------- */
/* <!-- A HTML block for showing Event details --> */
.event-details-display-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: black;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.banner-image-in-event-details-section {
  width: 100vw;
  height: 50vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons-section-in-event-details-display-section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.full-schedule-timeline-in-event-schedule-link-card {
  font-size: small;
  color: grey;
}

.km-distance-in-address-section-in-event-location-link-card {
  font-size: small;
  color: grey;
}

.section-for-photo-button {
  padding: 10px;
  margin-left: auto;
}

.heart-icon-inside-icons-section-in-event-details-section {
  margin-left: auto;
}

.photo-gallery-button-in-event-details-section {
  margin-left: auto;
  margin-top: auto;
  padding: 5px;
}

/* <!-- Event Location Link Card  --> */
.event-location-link-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 5px;
}

.title-for-who-is-taking-the-stage-section {
  margin: 10px;
}

.event-time-in-about-event-section {
  font-size: small;
  color: grey;
}

.about-event-section-in-event-details-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* .map-location-icon-in-event-location-link-card {
  width: 200px;
} */

/* .right-arrow-icon-in-event-location-link-card {
  width: 10px;
} */

/* <!-- Event Schedule Link Card  -->  */
.event-schedule-link-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding: 5px;
}

/* <!-- Artist Card  --> */
.artist-card-in-who-is-taking-the-stage-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(43, 42, 42);
  gap: 5px;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  margin: 10px;
}

.artist-name-title-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.artist-image-in-artist-card {
  width: 60px;
  height: 60px;
  background-color: rgb(127, 125, 125);
  border-radius: 20px;
}

.artist-title-in-artist-name-title-section {
  font-size: small;
  color: grey;
}

.know-more-in-artist-name-title-section {
  font-size: small;
}
/* ----------------------------------------------------------------- */

/* <!-- Display artists in a 2-row grid layout  --> */

/* <!-- A structured element for displaying artist details.  --> */
.artist-details-display-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
}

/* <!-- Banner image display section  --> */
.banner-image-display-section {
  width: 100vw;
  height: 50vh;
  background-color: grey;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* <!-- Icons section inside banner image display section  -->  */
.icons-section-in-artists-display-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  gap: 5px;
  /* margin-top: 20px; */
}

/* <!-- About artist block  --> */
.artist-about-section-in-artist-details-page {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.artist-description-in-about-section {
  height: 10vh;
  overflow-y: hidden;
}
/* <!-- Heart Icon  -->  */
.heart-icon-inside-icons-section-in-artists-display-page {
  margin-left: auto;
}

.show-more-button-in-about-artist-section {
  font-size: small;
}

.all-events-section-in-artist-details-section {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

/* <!-- Event Card  -->  */
.event-card-in-all-events-section-in-artist-details-section {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 150px;
  background-color: rgb(55, 54, 54);
}

.image-in-event-card-in-all-events-section-in-artist-details-section {
  height: 85%;
  width: 30%;
  background-color: grey;
  border-radius: 25px;
}

.event-details-section-in-event-card-in-artist-details-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
  gap: 3px;
}

.time-in-event-card-in-artist-details-section {
  font-size: small;
  color: grey;
}

.title-in-event-card-in-artist-details-section {
  font-size: medium;
}

.location-in-event-card-in-artist-details-section {
  font-size: small;
  color: grey;
}

.price-in-event-card-in-artist-details-section {
  font-size: small;
  color: grey;
}

.heart-icon-inside-event-card-in-event-details-section {
  align-self: flex-start;
}

.photo-icon-in-event-details-section {
  margin-left: auto;
}

/* ---------------------------------------- */

/* Designed for smaller screens  */
@media (width < 480px) {
  .artists-display {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    overflow-x: auto;
    max-width: 95vw;
    /* gap: 7px; */
    margin: 7px 7px;
    margin-left: 15px;
    padding-bottom: 25px;
  }
}

/* Designed for larger screens  */
/* @media (width > 480px) { */
/* .artists-display {
    display: grid;
    grid-template-rows: 200px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    max-width: 90%;
  } */
/* } */

/* <!-- Artist card --> */
.artist-image-div {
  width: 60px;
  height: 75px;
  font-size: small;
  color: #dfdada;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  /* margin: 10px; */
  /* padding: 5px; */
}

/* <!-- Category Image -->  */
.artist-image-artists-display {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
/* ----------------------------------------- */
/* <!-- Header for the Browse by category section --> */
.header-browse-by-category-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  margin-left: 15px;
}

/* <!-- Showcase category cards (Big) section  --> */
.display-categories-big-section {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 130px 130px;
  width: 95vw;
  overflow-y: auto;
  /* margin-left: 15px; */
}

/* <!-- Category card (Big) --> */
.category-card-big {
  width: 150px;
  height: 120px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.category-name-inside-category-card-big {
  font-size: small;
  margin-left: 20px;
}

.number-of-events-in-category {
  font-size: small;
  margin-left: 20px;
}

/* <!-- All events section  --> */
.all-events-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* <!-- Title in All events section  -->  */
.title-header-for-all-events-section {
  margin: 20px 20px;
}

/* <!-- Filter cards section  -->  */
.filter-cards-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* gap: 30px; */
  overflow: auto;
  min-width: 95vw;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 50px;
  margin-left: 15px;
  /* border: 1px solid white; */
}

/* <!-- Filter Card  --> */
.filter-card span {
  border: 1px solid white;
  border-radius: 20px;
  font-size: small;
  /* min-width: 60px; */
  /* min-height: 30px; */
  padding: 5px 5px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* min-width: 100px; */
  white-space: nowrap;
  margin: 5px;
}

/* <!-- All events display section  -->  */
.all-events-display-section {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 300px 300px;
  overflow-x: auto;
  margin: 20px 10px;
  gap: 15px;
  /* margin-left: 15px; */
}
/* ----------------------------------------- */
/* <!-- Headline --> */
header.page article.headline {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 170px;
  color: #ffffff;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

/* <!-- Headline items --> */
header.page article.headline p.headline-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

header.page article.headline p.active {
  opacity: 1;
}

/* -------------------------------------------------------- */
/* <!-- Brand section  --> */
section.brand {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1474899310722-cb9b0f84bb91?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position-y: center;
  width: 100%;
}

/* <!-- Get started for free --> */
.link-to-signup {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  border-radius: 50px;
  font-size: x-large;
  background: linear-gradient(to right, rgb(12, 12, 12), rgb(169, 168, 169));
  color: white;
  text-decoration: none;
}

/* <!-- CTA Sign-up form article --> */
article.sign-up {
  padding: 25px;
  background-color: rgba(73, 56, 65, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4.5px);
  border: 1px solid #ede4d9;
  max-width: 290px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

form.sign-up {
  /* border: 1px solid #cccccc; */
  /* padding: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* <!-- text box for new username --> */
form.sign-up input#new-username {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- text box for new password  --> */
form.sign-up input#new-password {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- text box for confirm new password  --> */
form.sign-up input#confirm-password {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  border-radius: 15px;
}

/* <!-- Button for Submit & Login --> */
form.sign-up button#submit-and-login {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  /* margin: 5px; */
  width: 50%;
  background-color: rgb(30, 37, 110, 0.9);
  color: rgb(224, 216, 216);
}

/* <!-- Login button --> */
a.link-to-signin {
  padding: 10px;
  /* margin: 5px; */
  width: 80%;
  /* background-color: rgb(30, 37, 110, 0.9); */
  color: rgb(224, 216, 216);
}

button#sign-in {
  width: 100%;
  background-color: rgb(30, 37, 110, 0.9);
  color: rgb(224, 216, 216);
}

/* <!-- Buttons section  --> */
section#buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

/* <!-- Sign-up Button --> */

/* <!-- Sign in with Gmail --> */
div.g_id_signin {
  margin-top: 15px;
  min-width: 200px;
  max-width: 250px;
}

/* <!-- Form for capturing User input --> */
form#user-inputs {
  /* border: 1px solid #cccccc; */
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 250px;
}

form#user-inputs input {
  /* height: 30px; */
  /* border: 1px solid #cccccc; */
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Sign-in button --> */
form#user-inputs button#sign-in-button {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 70%;
}
/* -------------------------------------------------------- */
/* <!-- Label + select city drop-down--> */
section#select-city {
  /* border: 1px solid #cccccc; */
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

/* <!-- Label --> */
section#select-city span.label {
  /* padding: 10px; */
  margin: 5px;
}

/* <!-- Select city dropdown --> */
section#select-city select#city-selector {
  /* padding: 3px; */
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  /* margin: 2px; */
}

/* <!-- Select Artist dropdown --> */
#artist-selector {
  /* padding: 3px; */
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  /* margin: 2px; */
}

@media (--mobile-screen) {
  .select-city {
    flex-direction: column;
  }
}

/* --------------------- */
/* <!-- Social proof banner --> */
section.social-proof-banner {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

/* <!-- short sentences --> */
section.social-proof-banner span {
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- Trending Preview --> */
section.trending-preview {
  /* border: 1px solid #cccccc; */
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  width: 95%;
  color: rgb(224, 215, 215);
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
}

/* <!-- Event card 1 --> */
/* article.event-card { */
/* border: 1px solid #cccccc; */
/* padding: 5px; */
/* margin: 5px;
  min-width: 100px;
  max-width: 200px; */
/* height: 300px; */
/* height: 250px; */
/* max-height: 200px; */
/* text-align: center;
  background-color: rgba(73, 56, 65, 0.5);
  backdrop-filter: blur(4.5px);
  border-radius: 10px; */
/* box-shadow: 2px 2px 7px rgb(0, 0, 0); */
/* box-shadow: -1px 1px 3px 1px rgb(0, 0, 0);
  backdrop-filter: blur(4.5px); */
/* box-shadow: 0px 2px; */
/* } */

/* <!-- title --> */
h2.card-title {
  font-size: medium;
}
/* <!-- Card Image  --> */
/* article.event-card img {
  width: 85%;
  height: auto;
} */
/* -------------------------------------------------------- */
/* <!-- View All CTA --> */
button#view-all-button {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* -------------------------------------------------------- */
/* <!-- AI demo -->
<!-- Input text box --> */
input#ask-ai {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  display: block;
  width: 95%;
}

/* -------------------------------------------------------- */
/* <!-- ----------------------------------------------------------------- --> */

/* ------------------------------------------------------------ */
/* <!-- Buttons section --> */
section#button-section {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* <!-- Register New user button with re-route to sign-up page--> */
section#button-section form button#register-new-user {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}

/* --------------------------------------------------------------- */
/* <!-- Sign-up benefits --> */
section.signup-benefits {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(184, 175, 175);
}

/* <!-- Header --> */
section.signup-benefits header {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* <!-- Benefit Card --> */
section.signup-benefits article.benefit-card {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
  width: 95%;
}

/* ------------------------------------- */

/* <!-- CTA for sign-up --> */
/* <!-- Sign-up button --> */
button.cta-sign-up {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 5px;
}
/* --------------------------------------------------------------- */

/* Define a class called hidden */
.hidden {
  display: none !important;
}

/* -------------------------------------------------------------- */
