/* Sign-up page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: solid;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* -------------------------------------------- */

/* <!-- Article for Seting new credentials --> */
article#set-new-credentials form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: solid;
  padding: 20px 20px 20px 20px;
}

/* <!-- text box */
article#set-new-credentials form input {
  margin-bottom: 20px;
  width: 400px;
  height: 50px;
}

/* <!-- Button for Submit & Login --> */
article#set-new-credentials form button {
  width: 100px;
}
