/* <!-- Add more price category button --> */
#add-more-price-category-button-1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <!-- Add event form  --> */
.add_event_form {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

/* Select all the input elements inside the add event form*/
form.add_event_form input,
textarea,
select {
  max-width: 500px;
}

/* <!-- Submit button inside add event form --> */
form#add_event_form_1 button {
  width: 150px;
  padding: 5px;
}
